#leftMenu.off-canvas.position-left.reveal-for-large{ 'data-off-canvas' => true }

  %ul.vertical.menu
    %li
      = link_to root_path do
        %i.fi-home
        %span Home
    %li
      = link_to patients_path do
        %i.fi-torsos-all
        %span Patients
